doctype html
html
	include header.jade
	body()
		br/
		br/
		br/
		br/
		br/
		div
			table
				tr
					td
						h1 TVPlayer 1.0
						a(href="/"): img(src="./images/home.png" height="50" width="50")
						a(href="/pair"): img(src="./images/pair.png" height="50" width="50" style="padding: 0 0 0 10px")
				tr
					td: h2 Paired Users:
					if pairedUserNames.length > 0
						each user in pairedUserNames
							td: h2(style={color: 'red'}): a(href='#' onclick='getFavourites(\'#{user}\')') #{user}
					else
						td: h2(style={color: 'red'}) No users paired 
					
			hr/
			table
				tr
					td
						h2(id="userNameLabel" style={display:'none'}) Hi there
					td
						h2(id="userNameData" style={color: 'red', display:'none'})
				tr
					td
						h2(id="waterShedContentLabel" style={display:'none'}) Can watch post 9pm content:
					td
						span(id="waterShedContentData")
					td
						h2: span(id="waterShedContentRequest")
				tr
					td
						h2(id="favouritesLabel" style={display:'none'}) Favourite Channels:
					td
						h2(id="favouritesData" style={color: 'red', display:'none'})
					td
						h2: span(id="logout")