body {
  
  width:60%;
  margin-left:auto;
  margin-right:auto;
  background-image:url(./images/background.jpg);
     
}

div {
	
	border-radius: 10px;
	background-color: white;
	padding: 0 20px 0 20px
}

h1 {
	
	color: red ;
	font: 38px "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
}

h2 {

	font: 16px "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
	
}

h3 {
	
	font:  12px "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
}
td {
	
	padding: 5px 5px 5px 15px
}